<script setup lang="ts">
import { useTemperatureStore } from '@/stores/temperature';



const TemperatureStore = useTemperatureStore()

</script>

<template>
    <v-form v-model="TemperatureStore.valid">
        <v-container>
            <v-row>
                <v-col cols="12" md="4">
                    <v-text-field v-model="TemperatureStore.celsius" :rules="[
                        (v) => !!v || 'Celsius is not empty!!!',
                        (v) => !isNaN(parseFloat(v)) || ' Celsius must be number!!!'
                    ]" label="Celsius" required hide-details></v-text-field>
                </v-col>

                <v-col cols="12" md="4">
                    <v-btn @click="TemperatureStore.callConvert()">
                        Calculate
                    </v-btn>
                </v-col>

                <v-col cols="12" md="4">
                    <div>{{ TemperatureStore.result }} Fahrenheit</div>
                </v-col>
            </v-row>
        </v-container>
    </v-form>
</template>