<script setup lang="ts">
import { useLoadingStore } from '@/stores/loading';


const useLoading = useLoadingStore()
</script>

<template>
    <v-dialog v-model="useLoading.isLoading" persistent width="auto">
        <v-card>
            <v-card-text style="text-align: center;">
                <div>Please Wait</div>
                <v-progress-circular color=" primary" indeterminate></v-progress-circular>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>